:root {
  --primaryClr: #166613;
  --primaryHoverClr: #bbb;
  --fontClr: #3f3f46;
  --hoverFontClr: #777;
  --menuClr: #161616;
  --menuBgClr: #030;
  --menuHoverClr: #555;
  --footerClr: #3d3d3d;
  --whiteClr: #fff;
  --navClr: #e7b9b9;
  --navFontClr: #000;
  --navShadow: 0 5px 5px rgba(0, 0, 0, 0.8);
  --lightGrayClr: #dfdfdf;
  --logoFont: 'Courier New', Courier, monospace;
  --h1Font: Courier;
  --subheadFont: serif;
  --border: 2px;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  --transition: all 0.5s;
}
body {
  color: var(--fontClr);
}
nav {
  color: var(--navFontClr);
  box-shadow: var(--navShadow);
  background: var(--navClr);
}
nav.open {
  background: var(--navClr);
}
h1 {
  font-family: var(--h1Font);
}
h2 {
  font-family: var(--subheadFont);
}
p {
  line-height: 1.5;
}
.logo a {
  color: var(--navFontClr);
  font-family: var(--logoFont);
}
.nav-list-item a {
  color: var(--navFontClr);
}
.nav-list-item:hover {
  background: var(--menuHoverClr);
}
.btn {
  background-color: var(--whiteClr);
  color: var(--primaryClr);
  border-radius: var(--border);
  box-shadow: var(--shadow);
}
.btn:hover {
  background-color: var(--primaryHoverClr);
  color: var(--hoverFontClr);
  transition: var(--transition);
}
.primary-btn {
  background-color: var(--primaryClr);
  color: var(--whiteClr);
}
.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url('../images/light-blue-christmas-lighting-christmas-tree-christmas-decoration-25692-pxhere.com.jpg')
      no-repeat center/cover;
  /* background-attachment: fixed; */
  /* background: var(--primaryClr); */
  color: white;
  /* height: calc(100vh - 80px); */
  height: 100vh;
  padding-top: 80px;
  display: grid;
  place-items: center;
  text-align: center;
}
.hero-center {
  width: 75%;
}
.hero .headline {
  font-size: 2.25rem;
  font-weight: lighter;
}
.hero .subhead {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .hero .headline {
    font-size: 2.75rem;
  }
  .hero .subhead {
    font-size: 1.75rem;
  }
}
.section-image {
  border: 0.75rem solid var(--primaryClr);
  box-shadow: var(--shadow);
}
.section:nth-child(even) {
  background-color: var(--lightGrayClr);
}
.footer {
  background: var(--footerClr);
  color: white;
  text-align: center;
}
